@charset "UTF-8";

.login-box {
  width: 100%;
  max-width: 300px;
}

.myBtn {
    background-color: white !important;
    border: 1px solid #00809D !important;
    color: #00809D;
}

.myBtn:hover {
	background-color: #00809D !important;
	border: 1px solid #00809D !important;
	color: white;
}

.myBtnGray {
	background-color: white !important;
    border: 1px solid lightgray !important;
    color: black;
}

/*control*/
.tableForm {
	margin-top: 40px;
	width: 100%;
	max-width: 700px;
	text-align: center;
	border-bottom: none;
}

td {
	border-bottom: 1px solid lightgrey;
	padding: 3px;
}

.tdB {
	font-weight: bold;
	border-right: 1px solid lightgray;
}

.th {
	font-weight: bold;
}

.userInfotable {
	margin-top: 40px;
	border-top: 1px solid lightgrey;
	text-align: center;
	padding: 3px;
	width: 50%;
}

