@charset "UTF-8";


a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #00809D;
}

/* text style */
.boardTitle {
	text-align: center;
	font-size: 23px;
	margin-top: 40px;
}

.coment {
	font-size: 13px;
	color: darkgray;
}

/* form */
.login-box {
  width: 100%;
  max-width: 300px;
}

.tdL td {
	border-bottom: 1px solid lightgray;
}

.tdB {
	font-weight: bold;
	border-right: 1px solid lightgray;
	white-space: nowrap;
}

.th {
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.navDiv {
	margin-top: 40px;
	border: 1px solid lightgrey;
	text-align: center;
	padding: 3px;
	width: 40%;
}

.navTable {
	text-align: center;
	margin: 0 auto;
	border: 1px solid lightgrey;
	width: 100%;
	height: 40px;
	
}

.miniHeader {
	height: 200px;
	width: 80%;
	margin: 0 auto;
}

/* 버튼 */
.myBtn {
    background-color: white !important;
    border: 1px solid #00809D !important;
    color: #00809D;
}

.myBtn:hover {
	background-color: #00809D !important;
	border: 1px solid #00809D !important;
	color: white;
}

.myBtnGray {
	background-color: white !important;
    border: 1px solid lightgray !important;
    color: black;
}

/* link */
.navLink {
	color: black;
	text-decoration: none;
	cursor: pointer;
	
}

/*point*/
#myPoint {
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#sendForm {
	border: 1px solid lightgray;
	width: 100%;
	max-width: 400px;
	padding:30px;
	margin-top: 30px;
}

.card {
	max-width: 250px;
}

.card-title {
	font-weight: bold;
	font-size: 18px;
}

.card-text {
	font-size: 15px;
}

#price {
	font-size: 20px;
	font-weight: bold;
	color: #00809D;
}

/*item info*/
#itemBox {
	width: 100%;
	max-width: 700px;
	border: 1px solid lightgray;
}

#itemForm{
	width: 100%;
	margin: 10 auto;
}

#itemImgBox {
	width: 40%;
	min-width: 100px;
}

#itemInfoImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#itemForm td {
	border: none;
}

#itemName {
	border-bottom: 1px solid lightgray !important;
}

#countBtnBox {
	width: 70%;
	text-align: center;
	margin: auto;
	padding: auto;
}

#countBtnBox td {
	border: 1px solid lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
}

#countBtnBox .countBtn {
	width: 30%;
	cursor: pointer;
	font-weight: bold;
}

#btnBox {
	width: 60%;
	white-space: nowrap;
}

.orderBtn {
	width: 50%;
	max-width: 100px;
	margin-top: 20px;
}


/*cart*/
#cartTable {
	width: 100%;
	max-width: 700px;
	border: 1px solid black;
}

.tL td {
	border-top: 1px solid black;
}

.countBtn {
	text-align: center;
	border: 1px solid lightgray;
	height: 35px;
	width: 33%;
}

#div2 {
	max-width: 700px;
}

.minusBtn, .plusBtn {
	font-weight: bold;
	font-size: 20px;
}




